div.card {
	position: relative;
	top: 200px;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.header {
  background-color: white;
  padding: 10px;
}

div.container {
  padding: 10px;
}

.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
}

#quotes-text {
	text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}

#quote-author {
	width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

.btn {
	align-items: right;
}

#quotes-text {
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s; 
    -o-animation: fadein 2s; 
}

/*body {
	animation: fadein 2s;
  -moz-animation: fadein 2s; 
  -webkit-animation: fadein 2s; 
  -o-animation: fadein 2s; 
}
*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.fa {
    color: white;
}

.fa-quote-left{
	content: "\f10d";
}

.buttons .btn#twitter {
	float: left;
}

.tumblr {
	float: left;
}

#btn:hover {
	 opacity: 0.9;
}


.btn:focus, .btn:active:focus, .btn.active:focus {
	border: 0px;
	outline: 0 none;
	border-style: none;
	box-shadow: none;
}

#btn-primary.focus, #btn-primary:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}